# .gitignore
__pycache__/
*.pyc
.venv/
venv/
.env
.streamlit/secrets.toml
*.db
.DS_Store
# Se quiser ignorar arquivos de log do VS Code
.vscode/
conexao_com_bd.txt
*.backup
reset_cloud.sh
reset_log.txt